// COLORS
// Primary color
$primaryBlue: hsl(223, 87%, 63%);
// Secondary colors
$secondaryPaleBlue: hsl(223, 100%, 88%);
$secondaryLightRed: hsl(354, 100%, 66%);
// Neutral
$neutralGray: hsl(0, 0%, 59%);
$neutralVeryDarkBlue: hsl(209, 33%, 12%);

// TYPOGRAPHY
$bodyFontSize: 20px;

// MEDIA-QUERY
$breakpoint-phone: 375px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;

